// Command {{.Binary}} is the entry point of {{.Name}}.
package main

import (
	"fmt"
	"os"

	"{{.Module}}/internal/app"
)

// version is overridden at build time with -ldflags "-X main.version=...".
var version = "dev"

func main() {
	if err := app.Run(os.Args[1:], os.Stdout, version); err != nil {
		fmt.Fprintln(os.Stderr, "{{.Binary}}:", err)
		os.Exit(1)
	}
}
